# Options All -Indexes
Options +FollowSymLinks

RewriteEngine On

# Rewrite URI's
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^login/$ core/Login.php [NC,L]
RewriteRule ^pages/([a-z-0-9]+)/delete/([0-9]+)/$ core/Pages.php?csrf=$1&delete=$2 [NC,L]
RewriteRule ^pages/$ core/Pages.php [NC,L]
RewriteRule ^pages/add/$ core/AddPage.php [NC,L]
RewriteRule ^snippets/add/$ core/AddSnippets.php [NC,L]
RewriteRule ^resources/$ core/AddResource.php [NC,L]
RewriteRule ^pages/edit/([0-9]+)/$ core/EditPages.php?pid=$1 [NC,L]
RewriteRule ^snippets/edit/([0-9]+)/$ core/EditSnippets.php?pid=$1 [NC,L]
RewriteRule ^resources/edit/([0-9]+)/$ core/EditResource.php [NC,L]	
